<p><strong>Distribuição de acesso por navegador</strong></p>
<div class="mat-elevation-z8">
    <table class="table" mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
      <!-- Navegador Column -->
      <ng-container matColumnDef="navegador">
        <th mat-header-cell *matHeaderCellDef>Browser</th>
        <td mat-cell *matCellDef="let row">{{row.navegador}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="porcentagem">
        <th mat-header-cell *matHeaderCellDef>Distribuição(%)</th>
        <td mat-cell *matCellDef="let row">{{row.porcentagem}}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>